<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quanlyhocsinh?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/dto/ChitietCauhinhDiem.hbm.xml"/>
    <mapping resource="com/dto/Namhoc.hbm.xml"/>
    <mapping resource="com/dto/Hocky.hbm.xml"/>
    <mapping resource="com/dto/Diem.hbm.xml"/>
    <mapping resource="com/dto/Hocsinh.hbm.xml"/>
    <mapping resource="com/dto/ChitietCauhinhHocsinh.hbm.xml"/>
    <mapping resource="com/dto/HocsinhLophoc.hbm.xml"/>
    <mapping resource="com/dto/Nguoidung.hbm.xml"/>
    <mapping resource="com/dto/ChitietCauhinhLop.hbm.xml"/>
    <mapping resource="com/dto/Lop.hbm.xml"/>
    <mapping resource="com/dto/Monhoc.hbm.xml"/>
    <mapping resource="com/dto/Cauhinh.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
